html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 2;
}

.viewMode {
    background-color:black;
    color: white;
}

.authorName {
  margin-top: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}

.jobTitle {
  font-weight: 200;
  font-variant: small-caps;
}

.headerBackground {
  height: 15rem;
  line-height: 15rem;
}

.col-md-4 {
  margin-bottom: 4.375rem;
}

.projects {
  border-bottom: 0.3125rem solid black;
  width: 60%;
  margin: 0 auto 3rem auto;
}

.aboutMe {
  padding: 1rem 0 0 0;
  line-height: 2;
  font-size: 120%;
}
.socialMedia {
  margin-bottom: 6.25rem;
  font-size: 125%;
}

#email {
  color: black;
  font-weight: 900;
  background-color: white;
  padding: 0.625rem;
  border: 0.0625rem solid black;
  border-radius: 0.3125rem;
}

#email:hover {
  background-color: black;
  color: white;
}

.fa {
  margin: 0.625rem;
}

.fa-linkedin {
  color: #0d77b7;
}

.fa-twitter {
  color: #429cd6;
}

.fa-github {
  color: #782388;
}

.fa-github:hover,
.fa-twitter:hover,
.fa-linkedin:hover {
  text-decoration: underline;
}

#btn {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.9375rem;
  background: none;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 5rem;
  right: 2.5rem;
  z-index: 100;
  display: none;
  color: white;
}

#btn i {
  font-size: 3.125rem;
  color: black;
}

footer {
  position: fixed;
  height: 3.125rem;
  line-height: 3.125rem;
  background: black;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .name {
    display: none;
  }
  .aboutMe {
    margin-top: -5rem;
    line-height: 1.75;
    font-size: 100%;
  }
}
