* {
    box-sizing: border-box;
}

.temperature {
    background: url("../assets/images/temperature.jpeg") no-repeat fixed center;
}

.time {
    background: url("../assets/images/time.jpeg") no-repeat fixed center;
}

.mass {
    background: url("../assets/images/mass.jpeg") no-repeat fixed center;
}

.length {
    background: url("../assets/images/length.jpeg") no-repeat fixed center;
}

.temperature,
.time,
.mass,
.length {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.wrapper {
    max-width: 500px;
    height: auto;
    margin: 50px auto;
    display: block;
}

.unit-header {
    text-align: center;
    background-color: black;
    padding: 15px;
    border-radius: 7px;
    border: 5px solid #980E10;
}

.unit-main {
    text-align: center;
    margin-bottom: 120px;
}

.unit-main>h3 {
    color: brown;
    font-weight: bolder;
}

input {
    border: 5px solid black;
    width: 350px;
    height: 50px;
    font-size: 115%;
    text-align: center;
    background-color: #9CB079;
}


/* This is for breadcrumbs */

ul.breadcrumb {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 50px;
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    margin-top: 400px;
    text-align: center;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    font-variant: small-caps;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.footer {
    position: fixed;
    height: 50px;
    line-height: 20px;
    background-color: #697D89;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    text-align: center;
}