body {
    /* background-color: #f0f0f2; */
    background-image: url("score.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 605px;
    margin: 100px auto;
}

.first,
.second {
    width: 300px;
    height: 700px;
    display: inline-block;
    text-align: center;
    background-color: blue;
}

h1 {
    font-family: 'PT Mono', monospace;
    text-align: center;
    text-transform: uppercase;
    background-color: aliceblue;
}

h2 {
    color: white;
    font-size: 32px;
    font-weight: lighter;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    margin: 20px auto;
    box-shadow: 0 5px #999;
    outline: none;
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translate(2px, 2px);
}

.score {
    background-color: #ffffff;
    color: black;
    width: 194px;
    height: 100px;
    font-family: cursive;
    font-weight: bold;
    font-size: 50px;
    border: 3px solid black;
}

.reset {
    background-color: #C33232;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 3px;
    box-shadow: 0 5px #999;
    outline: none;
}

.reset:hover {
    background-color: #8F1414;
}

.reset:active {
    background-color: #8F1414;
    box-shadow: 0 5px #666;
    transform: translate(2px, 2px);
}

.first,
.second,
.button,
.reset {
    border: none;
}

.first,
.second,
.button,
.score,
.reset {
    border-radius: 5px;
}

@media screen and (max-width: 630px) {
    .wrapper {
        width: 405px;
    }
    .first,
    .second {
        width: 200px;
        height: 600px;
    }
    .button {
        font-size: 12px;
        width: 130px;
    }
    .score {
        width: 130px;
        height: 80px;
        font-size: 40px;
    }
    .reset {
        font-size: 12px;
        width: 120px;
    }
    h1 {
        text-transform: uppercase;
        border-bottom: 1px solid black;
        font-size: 150%;
    }
}